<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Vomplete</title>
    <style>
        .success{
            border: 1px green solid;
            width: 130px;
            height: 40px;
            text-decoration: none;
            font-size: 30px;
            color: white;
            background-color:#0fad00;
            float: right;
            border-radius: 5%;
            text-align: center;
        }

        #container {
            position: absolute;
            top: 30%;
            left: 30%;
        }
    </style>
</head>

<body>
    <div id="container">
        <h2 style="color:#0fad00">Реєстрація завершилась успішно</h2>
        <a href="http://localhost:4200/login" class="success">Увійти</a>
    </div>
</body>

</html>